# =================================================================
# Wwise 관련 설정
# =================================================================

# Wwise 프로젝트 내 로컬 캐시 및 임시 파일
.cache/
*.log
.backup/

# Wwise 에디터 개인 설정
*.p_eb
*.user
*.log
.backup/

Wwise/CK_ProjectRun/.cache/
Wwise/CK_ProjectRun/Originals/Cache/
Wwise/CK_ProjectRun/ConversionSettings/
Wwise/CK_ProjectRun/Operations/

Wwise/CK_ProjectRun/*.user
Wwise/CK_ProjectRun/*.p_eb

# 유니티 임시 및 로컬 설정 파일
Client/[Aa]ssets/WwiseSettings.xml.meta
Client/[Aa]ssets/WwiseSettings.xml

# 유니티 내 Wwise 자동 생성 로그 및 임시 파일
logRunSetup.txt
WwiseUnityIntegration_*_Src.zip

# sound engine dll만 예외로 추가
!Client/Assets/Wwise/API/Runtime/Plugins/Windows/x86_64/Release/AkUnitySoundEngine.dll

/[Bb]uild/